.git
.github
**/node_modules
**/.next
**/coverage
**/dist
**/dts
**/.DS_Store
screenshot-generator
sekai-mmw-preview-web

.env
.env.*
.npmrc
.netrc
local-dist
*.p12
*.pfx
*.pem
*.key
*.keystore
*.jks
*.mobileprovision
